.medium-10.columns{style: "padding: 0px"}
  .small-width#small-width    
    .contain-to-grid.sticky
      %nav.top-bar{"data-topbar" => ""}
        
        %section.top-bar-section
          / Right Nav Section
          %ul.right
            %li.active
              %a{href: "#"} Menu 
          / Left Nav Section
          %ul.left
            %li
              %a{href: "https://www.dropbox.com/s/pq5p70qf5wt84sj/George%20James%20Somerville.docx"} Download CV
            %li
              %a{href: "#"} A bit about me
            %li
              %a{href: "#Project"} Projects   
  .maincontentcontainer
    .span.transitions-enabled.large-centered.clearfix
      #container
        .box
          .large-12.columns{style: "padding: 0px ;background-image: url(/assets/maingrayscale.jpeg);"}  
            .container{style: "width:800px; height:500px; background-image: url(/assets/maingrayscale.jpeg);"}
              .innercontainer.animated
              %header.positionleftbottom
                %h1 George Somerville
                %p Web Developer - Designer - Creator
        .box
          .large-3.columns{style: "padding: 0px"}
            .flip
              .textcontainerflip{style: "width:400px; height: 200px"}
                .flip-front.flipfront400-200
                  %h3 A little bit about me
                  %p I'm a young enthusiastic junior web developer looking to expand my skill set in frontend/full stack web development as well test my design creativity 
                .flip-back.flipback400-200 
                  %h3 What I do away from the desk
                  %p During my spare time I like to hit the gym, hang out with mates and have a beer - or two.
                  %p I also have a keen interest in motorsports as well as a sense of style and keeping up to date with the latest technology trends
                
        .box
          .flip
            .textcontainerflip{style: "width:400px; height: 200px"}
              .flip-front.flipfront400-200
                %h3 Programming Languages/Software 
                  
                  
              .flip-back.flipback400-200  
                %p Ruby on Rails - Javascript - HTML5 - CSS3 - Backbone.js - Sass - Bootstrap - Foundation - Masonry - Git - Terminal - Sublime
        .box
          %img{src: "/assets/garden.jpg.png"}/
        

        .box
          .flip
            .textcontainerflip{style: "width:400px; height: 130px"}
              .flip-front.flipfront400-130
                %h3 Young eager, and extremely enthusiastic  about expanding my creativity 
                
              .flip-back.flipback400-130  
                %h6 Contact details
                %p Mobile: 07990073642
                %p Email: GeorgeSomerville1992@gmail.com
        .box       
          .infocontainer
            %a{href: "https://github.com/GeorgeSomerville1992"}
              %img{src: "/assets/github.jpeg.png"}/ 

        .box
          .infocontainer{style: "width:200px; height: 130px;"}
            %a{href: "https://www.linkedin.com/in/georgesomerville1992"}
              %img{src: "/assets/linkedin.jpeg.png", style: "margin-left:25px;"}/
    
    .large-12.columns{style: "padding: 0px"} 
      .large-4.columns  
        .arrowemptyplaceholder
      .large-4.columns    
        / .section.sectionbreaks
        %img.arrowemptyplaceholder{src: '/assets/arrow.jpeg.png'}
      .large-4.columns   
        .arrowemptyplaceholder        
    .large-12.columns{style: "padding: 0px"} 
      .section.portfolio#Project{style: "background-image: url(/assets/portfoliolarge.fw.png); background-repeat:no-repeat;"}

        %h1 Portfolio    
        %p Music App - Budgie Backpackers - Wifinder
    .large-12.columns{style: "padding: 0px"} 
      .large-4.columns  
        .arrowemptyplaceholder
      .large-4.columns    
        / .section.sectionbreaks
        %img.arrowemptyplaceholder{src: '/assets/arrow.jpeg.png'}
      .large-4.columns   
        .arrowemptyplaceholder  
    .project.projectOneWrap
      .large-6.columns{style: "padding: 0px"}         
        .section
        %a{href: "http://george-1992-project-one.herokuapp.com/"}
          %img{src: "/assets/musicapp.fw.png"}/       
      .large-6.columns{style: "padding: 0px"}  
        .article.alignright
          %h2 Music app
          %p A music sharing website where artists can create profiles and share songs. This was the first app I developed and I use it as a great reminder of how far I have come as a developer. I made this app using Ruby on Rails, HTML 5 and CSS 3.


    .large-12.columns{style: "padding: 0px"} 
      .large-4.columns  
        .arrowemptyplaceholder
      .large-4.columns    
        / .section.sectionbreaks
        %img.arrowemptyplaceholder{src: '/assets/arrow.jpeg.png'}
      .large-4.columns   
        .arrowemptyplaceholder  
    .project.projectTwoWrap    
      .large-12.columns{style: "padding: 0px"} 
        .section 
          %a{href: "http://budgie-backpackers-1992.herokuapp.com/"}
            %img{src: "/assets/budgiebackpackers.fw.png"}
        .large-6.columns 
          .article
            %h3 Budgie Backpackers
            %p Budgie Backpackers enables travellers on a budget to find the cheapest hostels/hotels within a searched city or current location. They can also find various attractions via a search term and see who’s checking as well as reviews. Finally they will also be able to pickup any discounts or deals within a searched area (work in progress)
        .large-6.columns 
          %h3 Languages, libraries, frameworks used
          %ul.contentLeft 
            %li Ruby on Rails 
            %li HTML 5
            %li CSS 3/ Sass
            %li Foundation Framework 
            %li Javascript 
          %ul.contentRight  
            %li Google Maps/earth Api
            %li Expedia Api
            %li Foursquare Api
            %li Yelp Api 
    .large-12.columns{style: "padding: 0px"} 
      .large-4.columns  
        .arrowemptyplaceholder
      .large-4.columns    
        / .section.sectionbreaks
        %img.arrowemptyplaceholder{src: '/assets/arrow.jpeg.png'}
      .large-4.columns   
        .arrowemptyplaceholder       
    .project.projectThreeWrap 
      .section
        .large-6.columns
          .article
            %h2 Wifinder
            %p Create and save your Wifi networks, view friends networks and share networks with your friends. This was my Second project which I developed different parts of it within a group. I was task with developing the layout, homepage and creating animation using CSS3 and javascript. 
        .large-6.columns
          %a{href: "http://mighty-springs-1118.herokuapp.com/"}
            %img{src: "/assets/wifinder.fw.png"}/ 


    .large-12.columns{style: "padding: 0px"} 
      .large-4.columns  
        .arrowemptyplaceholder
      .large-4.columns    
        / .section.sectionbreaks
        %img.arrowemptyplaceholder{src: '/assets/arrow.jpeg.png'}
      .large-4.columns   
        .arrowemptyplaceholder                
    .project.projectotherWrap
      .section
        .large-12.columns 
          .article
            %h2 Self study Designs/projects 
            %p a collection of projects made within my spare time using adobe Dreamweaver and Fireworks
        .large-6.columns 
          .article
            %h3 DNB Claims 
            %p DNB claims are a leading provider of Accident Management and Replacement Vehicles to the Taxi Industry and in desperate need of a new website. I created a basic functional test site using existing examples researched online.

        .large-6.columns    
          %img{src: "/assets/dnbclaims.png"}
        .large-6.columns
          .article
            %img{src: "/assets/fransproperty.fw.png"}
        .large-6.columns
          .article 
            %h3 Fran's Property 
            %p I had a friend interested in property and wanted to set up a business, I decided to create a mock-up design for her.
        .large-12.columns    
          .large-6.columns
            .article
              %h3 My Garage ;)  
              %p My very first half decent website! A recreation from the company "stance works". I built it purely on the skills I had learnt through self-study.  
          .large-6.columns
            %img{src: "/assets/garage.png"}  






  



          

       
      
  