

.span.transitions-enabled.large-centered.clearfix
  #container
    .box
      .container{style: "width:800px; height:500px; background-image: url(/assets/maingrayscale.jpeg);"}
        .innercontainer.animated
        %header.positionleftbottom
          %h1 George Somerville
          %p Web Developer - Designer - Creator
    .box
      .flip
        .textcontainerflip{style: "width:400px; height: 200px"}
          .flip-front.flipfront400-200
            %h3 A little bit about me
            %p I'm a Young enthusiastic junior web developer looking to expand my skill set in frontend/full stack web development as well test my design creativity 
          .flip-back.flipback400-200 
            %h3 What I do away from the desk
            %p During my spare time like to hit the gym, hang out with mates and have a beer - or two.
            %p I also have a keen interest in motorsports as well as a sense of style and keeping up to date with the latest technology trends
            
    .box
      .flip
        .textcontainerflip{style: "width:400px; height: 200px"}
          .flip-front.flipfront400-200
            %h3 Programming Languages/Software 
              
              
          .flip-back.flipback400-200  
            %p Ruby on Rails - Javascript - HTML5 - CSS3 - Backbone.js - Git - Terminal - Sublime
    .box
      %img{src: "/assets/garden.jpg.png"}/
    

    .box
      .flip
        .textcontainerflip{style: "width:400px; height: 130px"}
          .flip-front.flipfront400-130
            %h3 Young eager, and extremely enthusiastic  about expanding my creativity 
            
          .flip-back.flipback400-130  
            %h6 Contact details
            %p Mobile: 07990073642
            %p Email: GeorgeSomerville1992@gmail.com
    .box       
      .infocontainer
        %a{href: "https://github.com/GeorgeSomerville1992"}
          %img{src: "/assets/github.jpeg.png"}/ 

    .box
      .infocontainer{style: "width:200px; height: 130px;"}
        %a{href: "https://www.linkedin.com/in/georgesomerville1992"}
          %img{src: "/assets/linkedin.jpeg.png", style: "margin-left:25px;"}/
.section.sectionbreaks#Project
  %img{src: '/assets/arrow.jpeg.png'}
         
.section.portfolio{style: "background-image: url(/assets/portfolio.jpeg.png);"}
  %h1 Portfolio    
  %p Music App - Budgie Backpackers - Wifinder
.section.sectionbreaks
  %img{src: '/assets/arrow.jpeg.png'}  
.project.projectOneWrap   
  .large-6.columns{style: "padding: 0px"}         
    .section
      %img{src: "/assets/musicapp.jpeg.png"}/       
  .large-6.columns{style: "padding: 0px"}  
    .article.alignright
      %h2 Music app
      %p A music sharing website where artists can create profiles and share songs. This was the first app I developed and I use it as a great reminder of how far I have come as a developer. I made this app using Ruby on Rails, HTML 5 and CSS 3.


.section.sectionbreaks
  %img{src: '/assets/arrow.jpeg.png'}  
.project.projectTwoWrap    
  .large-12.columns{style: "padding: 0px"} 
    .section 
      %a{href: "http://budgie-backpackers1992.herokuapp.com"}
        %img{src: "/assets/budgiebackpackers.jpeg.png"}
    .large-6.columns 
      .article
        %h3 Budgie Backpackers
        %p Budgie Backpackers enables travellers on a budget to find the cheapest hostels/hotels within a searched city or current location. They can also find various attractions via a search term and see who’s checking as well as reviews. Finally they will also be able to pickup any discounts or deals within a searched area (work in progress)
    .large-6.columns 
      %h3 Languages, libraries, frameworks used
      %ul.contentLeft 
        %li Ruby on Rails 
        %li HTML 5
        %li CSS 3/ Sass
        %li Foundation Framework 
        %li Javascript 
      %ul.contentRight  
        %li Google Maps/earth Api
        %li Expedia Api
        %li Foursquare Api
        %li Yelp Api 
.section.sectionbreaks
  %img{src: '/assets/arrow.jpeg.png'}        
.project.projectThreeWrap 
  .section
    .large-6.columns
      .article
        %h2 Wifinder
        %p Create and save your Wifi networks, view friends networks and share networks with your friends. This was my Second project which I developed different parts of it within a group. I was task with developing the layout, homepage and creating animation using CSS3 and javascript. 
    .large-6.columns
      %a{href: "http://mighty-springs-1118.herokuapp.com/"}
        %img{src: "/assets/wifinder.jpeg.png"}/   

  



          

       
      
  