
.large-10.columns{style: "padding: 0px"}
  .span.transitions-enabled.large-centered.clearfix
    #container
      .box
        %img{src: "http://www.placehold.it/225x140"}/
      .box
        %img{src: "http://www.placehold.it/210x160"}/
      .box
        %img{src: "http://www.placehold.it/310x280"}/
      .box
        %img{src: "http://www.placehold.it/200x115"}/
      .box
        %img{src: "http://www.placehold.it/200x150"}/
      .box
        %img{src: "http://www.placehold.it/200x130"}/
      .box
        %img{src: "http://www.placehold.it/200x350"}/
      .box
        %img{src: "http://www.placehold.it/200x130"}/
      .box
        %img{src: "http://www.placehold.it/200x130"}/
      .box
        %img{src: "http://www.placehold.it/200x170"}/
      .box
        %img{src: "http://www.placehold.it/200x140"}/
      .box
        %img{src: "http://www.placehold.it/200x110"}/
      .box
        %img{src: "http://www.placehold.it/200x300"}/
      .box
        %img{src: "http://www.placehold.it/200x130"}/
      .box
        %img{src: "http://www.placehold.it/200x180"}/
      .box
        %img{src: "http://www.placehold.it/300x140"}/
      .box
        %img{src: "http://www.placehold.it/260x180"}/
      .box
        %img{src: "http://www.placehold.it/200x135"}/
      .box
        %img{src: "http://www.placehold.it/240x110"}/
      .box
        %img{src: "http://www.placehold.it/200x180"}/
      .box
        %img{src: "http://www.placehold.it/200x150"}/
      .box
        %img{src: "http://www.placehold.it/200x120"}/